<ion-view view-title="Play" hide-nav-bar="true">
    <ion-content class="bluebg">
        <div class="row">
            <div class="col col-20 textcenter"><img src="img/back_arrow.png" width="100%"></div>
            <div class="col col-40"></div>
            <div class="col col-40"><a class="button button-outline icon-left ion-navicon button-light levelbtn">Level</a></div>
        </div>
        <div class="row">
            <div class="col col-10"></div>
            <div class="col gamearea">
                <div class="row gamerow">
                    <div class="col" ng-click="playerclick(0,$index)" ng-repeat="input in inputarray[0] track by $index">
                        <img src="img/x.png" ng-if="input=='X'">
                        <img src="img/o.png" ng-if="input=='O'">
                    </div>
                </div>
                <div class="row gamerow">
                    <div class="col" ng-click="playerclick(1,$index)" ng-repeat="input in inputarray[1] track by $index">
                        <img src="img/x.png" ng-if="input=='X'">
                        <img src="img/o.png" ng-if="input=='O'">
                    </div>
                </div>
                <div class="row gamerow">
                    <div class="col" ng-click="playerclick(2,$index)" ng-repeat="input in inputarray[2] track by $index">
                        <img src="img/x.png" ng-if="input=='X'">
                        <img src="img/o.png" ng-if="input=='O'">
                    </div>
                </div>
            </div>
            <div class="col col-10"></div>
        </div>
        <!--<div class="">
            <div class="inputbox" ng-repeat="inputs in inputarray track by $index">
                <div ng-repeat="input in inputs track by $index" class="inputbox" ng-click="playerclick($parent.$index,$index)" ng-disabled="game">
                    <div ng-show="input=='X'|| input=='O'" class="inputs">
                        <h1 class="text">{{input}}</h1></div>
                </div>
                <br>
            </div>

            <br ng-if="$index== 2 && $index==5">
        </div>-->
    </ion-content>
</ion-view>