<ion-view view-title="Play">
  <ion-content>
    <h1>Play</h1>
    <div class="layout">
            <div class="inputbox" ng-repeat="inputs in inputarray track by $index">
                <div  ng-repeat="input in inputs track by $index" class="inputbox" ng-click="playerclick($parent.$index,$index)" ng-disabled="game">
                <div ng-show="input=='X'|| input=='O'" class="inputs"><h1 class="text">{{input}}</h1></div></div><br>
            </div>
            
            <!--<br ng-if="$index== 2 && $index==5">-->
        </div>
  </ion-content>
</ion-view>
