<ion-view view-title="Menu" hide-nav-bar="true">
    <ion-content class="menubg">
        <div class="row">
            <div class="col col-20"></div>
            <div class="col col-60"><img src="img/logo.png" width="80%" class="menulogo"></div>
            <div class="col col-20"></div>
        </div>

        <div class="layout">
            <div class="textcenter">
                <a href="#/app/game">
                    <button class="button button-outline button-positive menubtn">
                        vs Friend
                    </button>
                </a>
            </div>
            <div class="textcenter">
                <a href="#/app/game">
                    <button href="#/app/game" class="button button-outline button-positive menubtn">
                        vs AI
                    </button>
                </a>

            </div>


        </div>
    </ion-content>
</ion-view>